{% extends "base.html" %}
{% block conteudo %}
<div class="row">
 <!--  page header -->
<div class="col-lg-12">
    <h1 class="page-header">Fornecimentos</h1>
</div>
 <!-- end  page header -->
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 Fornecimentos

                <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Ações
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="/cadastrar_fornecimento/">Cadastrar Fornecimento</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>UG</th>
                                <th>Fornecedor</th>
                                <th>Data</th>
                                <th>NF</th>
                                <th>Pontuação</th>
                                <th>Ações</th>
                            </tr>

                        </thead>
                        <tbody>
                        {% for fornecimento in fornecimentos %}
                            <tr class="odd gradeX">
                                <td>{{fornecimento.id}}</td>
                                <td>{{fornecimento.ug}}</td>
                                <td>{{fornecimento.fornecedor}}</td>
                                <td>{{fornecimento.data_formatada}}</td>
                                <td>{{fornecimento.nf}}</td>
                                <td>{{fornecimento.pontuacao}}</td>
                                <td>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock conteudo %}
