{% extends "base.html" %}

{% block conteudo %}
<!--  page-wrapper -->
            <div class="row">
                 <!--  page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Morris Charts</h1>
                </div>
                <!--end  page header -->
            </div>
            <div class="row">

                </div>
                <div class="col-lg-18">
                     <!--  Line Chart -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Line Chart Example
                        </div>
                        <div class="panel-body">
                            <div id="morris-line-chart"></div>
                        </div>
                    </div>
                     <!--  End Line Chart -->
                </div>


            </div>

        <!-- end page-wrapper -->

<script type="text/javascript">
   var c = null;
   var c1 = null;
   c = c || 100;
   c1 = c1 || 80;
</script>
{% endblock conteudo %}