{% extends "base.html" %}
{% block conteudo %}
<div class="row">
  <!-- Page Header -->
    <div class="col-lg-12">
        <h1 class="page-header">Bem Vindo</h1>
        <h3>Use o painel ao lado para gestão de fornecedores</h3>
    </div>
    <!--End Page Header -->
</div>
</div>
{% endblock conteudo %}