{% extends "base.html" %}
{% block conteudo %}
<div class="row">
 <!--  page header -->
<div class="col-lg-12">
    <h1 class="page-header">Fornecedores</h1>
</div>
 <!-- end  page header -->
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 Fornecedores

                <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Ações
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="/cadastrar_fornecedor">Cadastrar fornecedor</a>
                        </li>
                        <li><a href="/fornecedores_cancelados/">Fornecedores Cancelados</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome Fantasia</th>
                                <th>Estado</th>
                                <th>Cidade</th>
                                <th>Responsável</th>
                                <th>Telefone</th>
                                <th>Segmento</th>
                                <th>Ações</th>
                            </tr>

                        </thead>
                        <tbody>
                        {% for fornecedor in fornecedores %}
                            <tr class="odd gradeX">
                                <td>{{fornecedor.id}}</td>
                                <td>{{fornecedor.nm_fantasia}}</td>
                                <td>{{fornecedor.uf}}</td>
                                <td>{{fornecedor.cidade}}</td>
                                <td>{{fornecedor.responsavel}}</td>
                                <td>{{fornecedor.telefone}}</td>
                                <td>{{fornecedor.segmento}}</td>
                                <td>
                                    <a href="/iniciar_recebimento/" title="Iniciar Recebimento"><button type="button" class="btn btn-success btn-circle"><i class="fa fa-link"></i>
                                    </button></a>
                                    <a href="/visualizar_fornecedor/" title="Visualizar"><button type="button" class="btn btn-primary btn-circle"><i class="fa fa-list"></i>
                                    </button></a>
                                    <a href="/editar_fornecedor/{{fornecedor.id}}/" title="Editar"><button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i>
                                    </button></a>
                                    <a href="/exclui_fornecedor/{{fornecedor.id}}/" title="Excluir"><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i>
                                    </button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock conteudo %}
