{% extends "base.html" %}
{% block conteudo %}
<div class="row">
 <!--  page header -->
<div class="col-lg-12">
    <h1 class="page-header">Segmentos Cancelados</h1>
</div>
 <!-- end  page header -->
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 Fornecedores

                <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Ações
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="/cadastrar_segmento/">Cadastrar Segmentos</a>
                        </li>
                        <li><a href="/lista_segmentos/">Listar Segmentos</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descrição</th>
                                <th>Ações</th>
                            </tr>

                        </thead>
                        <tbody>
                        {% for segmento in segmentos %}
                            <tr class="odd gradeX">
                                <td>{{segmento.id}}</td>
                                <td>{{segmento.descricao}}</td>
                                <td>
                                    <a href="/editar_segmento/{{segmento.id}}/" title="Editar"><button type="button" class="btn btn-info btn-circle"><i class="fa fa-check"></i>
                                    </button></a>
                                    <a href="/ativar_segmento/{{segmento.id}}/" title="Ativar"><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i>
                                    </button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock conteudo %}
