{% load static %}
<!DOCTYPE html>
	<html lang="en">
		{% include "design.html" %}
		<body>
		<div id="wrapper">
			{% include "nav.html" %}
            {% include "painel_esq.html" %}
			<!--  wrapper -->

        		<!--  page-wrapper -->
        		<div id="page-wrapper">
					{% block conteudo %}
					{% endblock conteudo %}
				</div>
				<!-- end page-wrapper -->
			</div>
			<!-- end wrapper -->
		</body>
{% include "scripts.html" %}