{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Via Stoko</title>
    <!-- Core CSS - Include with every page -->
    <link rel="stylesheet" type="text/css" href={% static "plugins/bootstrap/bootstrap.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "font-awesome/css/font-awesome.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "plugins/pace/pace-theme-big-counter.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/main-style.css" %}>


    <!-- Page-Level CSS -->
    <link rel="stylesheet" type="text/css" href={% static "plugins/morris/morris-0.4.3.min.css" %}>



</head>