<!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->


                <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-3x"></i>
                        </a>
                    {% if request.user.id %}
                        <!-- dropdown user-->
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="/editar_informacoes/{{request.user.id}}"><i class="fa fa-gear fa-fw"></i>Editar Informações</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/sair"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                            </li>
                        </ul>
                    {% endif %}
                    <!-- end dropdown-user -->

                </li>

                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/static/img/via_stoko_logo.png" alt="" />
                </a>
            </div>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->