<!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation" id="painel_esq">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="/static/img/user.jpg" alt="">
                            </div>
                            <div class="user-info">
                                <div>{{request.user.username|upper}}</div>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Fornecimentos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/cadastrar_fornecimento/">Receber Fornecimento</a>
                            </li>
                            <li>
                                <a href="/lista_fornecimentos/">Fornecimentos</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i> Cadastros<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Usuarios</a>
                            </li>
                            <li>
                                <a href="/lista_fornecedores/">Fornecedores</a>
                            </li>
                            <li>
                                <a href="/lista_segmentos/">Segmentos</a>
                            </li>
                            <li>
                                <a href="/lista_ugs/">Unidades Gestoras</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Relatórios<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Por Mês</a>
                            </li>
                            <li>
                                <a href="#">Por UG</a>
                            </li>
                            <li>
                                <a href="#">Ranking</a>
                            </li>
                            <li>
                                <a href="#">Comparativo</a>
                            </li>
                            <li>
                                <a href="/por_segmento_geral/">Por Segmento</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->