{% load staticfiles %}

    <!-- Core Scripts - Include with every page -->
    <script src="/static/plugins/jquery-1.10.2.js"></script>

    <script src="/static/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/static/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/plugins/pace/pace.js"></script>
    <script src="/static/scripts/siminta.js"></script>

    <!-- Externos Scripts-->
    <script src="/static/scripts/jquery.mask.js"></script>
    <script src="/static/scripts/masks.js"></script>
    <script src="/static/scripts/cidades-estados-1.4-utf8.js"></script>
    <script src="/static/scripts/cidade_estado.js"></script>

    <!-- Tabelas Scripts-->
    <script src="/static/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/plugins/dataTables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>

    <!-- Graficos Scripts-->
    <script src="/static/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/plugins/morris/morris.js"></script>
    <script src="/static/scripts/morris-demo.js"></script>



