{% extends "base.html" %}
{% block conteudo %}
<div class="row">
 <!--  page header -->
<div class="col-lg-12">
    <h1 class="page-header">Segmento</h1>
</div>
 <!-- end  page header -->
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 Fornecedores

                <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Selecionar Segmento
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        {% for segmento in segmentos %}
                            <li><a href="/por_segmento/{{segmento.id}}/">{{segmento}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome Fantasia</th>
                                <th>Segmento</th>
                                <th>Estado</th>
                                <th>Cidade</th>
                                <th>Pontuacão</th>
                            </tr>

                        </thead>
                        <tbody>
                        {% for fornecedor in fornecedores %}
                            {% if fornecedor.pontuacao_total > 1 %}
                                <tr class="odd gradeX">
                                    <td>{{fornecedor.id}}</td>
                                    <td>{{fornecedor.nm_fantasia}}</td>
                                    <td>{{fornecedor.segmento}}</td>
                                    <td>{{fornecedor.uf}}</td>
                                    <td>{{fornecedor.cidade}}</td>
                                    <td>{{fornecedor.pontuacao_total}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock conteudo %}
