{% extends "base.html" %}
{% block conteudo %}
<div class="row">
 <!--  page header -->
<div class="col-lg-12">
    <h1 class="page-header">Novo Fornecimento</h1>
</div>
 <!-- end  page header -->
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
               Cadastro de Fornecimento
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action='.' method='POST' enctype='multipart/form-data'>
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <a class="btn btn-success" href="/listar_usuarios/">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         <!-- End Form Elements -->
    </div>
</div>
{% endblock conteudo %}
