{% extends "base_login.html" %}
{% block conteudo %}
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center logo-margin ">
      <img src="assets/img/logo.png" alt=""/>
        </div>
    <div class="col-md-4 col-md-offset-4">
        {% if erro %}
            <div class="alert alert-danger">
                Usuario e/ou senha inválidos.
            </div>
        {% endif %}
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Login</h3>
            </div>
            <div class="panel-body">
                <form role="form" action='.' method='POST'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Entrar">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}