{% extends "base.html" %}
{% block conteudo %}
<div class="row">
 <!--  page header -->
<div class="col-lg-12">
    <h1 class="page-header">Usuarios</h1>
</div>
 <!-- end  page header -->
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                 Usuarios
                 <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Ações
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="/cadastrar_usuario">Cadastrar Usuario</a>
                            </li>
                            <li><a href="/usuarios_cancelados/">Usuarios Cancelados</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>Email</th>
                                <th>Ativo</th>
                                <th>Ações</th>
                            </tr>

                        </thead>
                        <tbody>
                        {% for usuario in usuarios %}
                            <tr class="odd gradeX">
                                <td>{{usuario.id}}</td>
                                <td>{{usuario.username}}</td>
                                <td>{{usuario.first_name}}</td>
                                <td>{{usuario.last_name}}</td>
                                <td>{{usuario.email}}</td>
                                {% if usuario.is_active == True %}
                                    <td>Sim</td>
                                {% else %}
                                    <td>Não</td>
                                {% endif %}
                                <td>
                                    <a href="/exclui_usuario/{{usuario.id}}/" title="Excluir"><button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i>
                                    </button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock conteudo %}
